body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blueviolet;
}
/* nav styling */


.icon {
    width: 80px;
    height: auto;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a:hover {
    color: aqua;
}

/* styling main top */

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 120px;

   
}

 .hasidic {
    width: 600px;
    height: 300px;
    object-fit: cover;
} 

.intro {
    color: white;

}

.intro button {
    width: 130px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px;
    background-color: chartreuse;
    color: black;
    font-weight: bold;
    border: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   cursor: pointer;
}

.intro button:hover {
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.intro h1 {
    width: 400px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.intro p {
width: 400px;
font-size: 20px;
color: white;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}

/* another part */
.info {
    background-color: black;
    font-weight: bold;
    padding: 20px;
   
    
}

.info h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
    margin-bottom: 50px;
    font-size: 40px;
}

.info p {
    text-align: center;
    color: yellow;
  
}

.parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.info img {
    border: 2px solid red;
}
.parent img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.parent p {
    width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}