body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blueviolet;
}
/* nav styling */


.icon {
    width: 80px;
    height: auto;
    cursor: pointer;
    margin-top: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a:hover {
    color: aqua;
}

/* styling main top */

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 120px;

   
}

 .hasidic {
    width: 600px;
    height: 300px;
    object-fit: cover;
} 

.intro {
    color: white;

}

.intro button {
    width: 130px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px;
    background-color: chartreuse;
    color: black;
    font-weight: bold;
    border: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   cursor: pointer;
}

.intro button:hover {
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.intro h1 {
    width: 400px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.intro p {
width: 400px;
font-size: 20px;
color: white;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}

/* another part */
.info {
    background-color: black;
    font-weight: bold;
    padding: 20px;
   
    
}

.info h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
    margin-bottom: 50px;
    font-size: 40px;
}

.info p {
    text-align: center;
    color: yellow;
  
}

.parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.info img {
    border: 2px solid red;
}
.parent img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.parent p {
    width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* another */
.grand {
    display: flex;
    background-color: gray;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 800px;
    font-size: 40px;
    font-style: italic;
   
}

.autor {
    font-size: 25px;
    font-weight: bold;
    align-self: flex-end;

}

.position {
    display: flex;
    flex-direction: column;
}

/* new */

 .before {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-bottom: 30px;
} 
.mother {
    width: 1000px;
    height: auto;
    padding: 10px;
    display: flex;
    background-color: blue;
    justify-content: space-around;
    color: white;
    align-items: center;
    border-radius: 20px;
    border: 4px solid black;
}

.mother button{
width: 150px;
height: 35px;
border: 2px solid white;
background-color: blue;
color: white;
font-weight: bold;
font-size: 20px;
border-radius: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
cursor: pointer;

}


.mother button:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
  
    
    }

.son h1 {
    font-family: 'Courier New', Courier, monospace;
}

.son p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


footer {
    padding: 20px;
    color: white;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}



body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}